@import '../abstract/variaveis';

nav {
    text-align: center;
    ul {
        li {
            display: inline-block;
            padding: 2rem;
            a {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color: $cor-primaria;
                font-size: $tamanho-do-texto / 2.5;
                &:hover {
                    border-bottom: 2px solid $cor-secundaria;
                }
            }
        }
    }
}
